.btn {
  border-radius: 5px;
  background-color: blue;
  width: 80px;
}

.btn:hover{
  opacity: .75;
}

.header {
  margin-top: 20px;
}

.header h4 {
  padding-bottom: 35px;
}

.app {
  color: black;
}