.btn {
  border-radius: 5px;
  background-color: lightblue;
  width: 80px;
}

.btn:hover{
  opacity: .75;
}

.header {
  margin-top: 20px;
}

.header h4 {
  padding-bottom: 35px;
}

.header p {
  font-weight: 600;
}

.app {
  color: black;
}

.location-form {
  padding: 50px;
}

.weather-form {
  padding: 50px;
}