.btn {
  border-radius: 5px;
  background-color: blue;
  width: 80px;
}

.btn:hover{
  opacity: .75;
}

.the_form {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}